*.class
*.jar
*.war
*.ear
*.log
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
.settings/
.recommenders/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db